{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text | safe | linebreaksbr }}</p> <!--" | safe | " no lugar de "|" possibilita o uso de hyperlinks no formato "<a href="yourlink.com">your link</a> " dentro do formulário-->
        
    </div>
    <hr> <!--Cria uma linha para separar o post dos comentários-->
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Me conte o que você achou!</a> <!--Cria um botão para abrir o formulário de comentário, com o texto "Me conte o que você achou!"-->
        {% for comment in post.comments.all %} <!--Procura os comentários e, se houver algum, percorre-os-->
            {% if user.is_authenticated or comment.approved_comment %} <!--Exibe somente os comentários aprovados, a não ser que você esteja logado-->
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %} <!--Condição para criar botôes para aprovar ou descartar comentários ainda não aprovados-->
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong> <!--Exibe o autor do comentário-->
                <p>{{ comment.text|linebreaks }}</p> <!--Exibe o texto do comentário-->
            </div>
            {% endif %}
        {% empty %}
            <p>Ainda não há comentários.</p> <!--Se não houver comentários exibe esse texto-->
        {% endfor %}
{% endblock %}
